{% extends "body.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row news-{{ news.type }}">
            <div class="col-12 pb-3">
                {% if news.image %}
                    {% set heroImage = sulu_resolve_media(news.image.id, app.request.locale) %}
                    {% if heroImage %}
                        <div class="hero mb-4">
                            <img src="{{ heroImage.url }}" class="img-fluid" alt="{{ heroImage.title|default(news.title) }}">
                        </div>
                    {% endif %}
                {% endif %}

                <div class="title">
                    {% if news.showDate %}
                        <div class="overline mb-1">
                            {{ news.publishedAt | format_datetime('full', 'none', locale=app.request.locale) }}
                            {% if news.showAuthor %}
                                {% set contact = sulu_resolve_contact(news.author) %}
                                {{ "by"|trans }} {{ contact.fullName }}
                            {% endif %}
                        </div>
                    {% endif %}
                    <h1 class="mb-2">{{ news.title }}</h1>
                    {% if news.subtitle %}
                        <h2 class="h3 mb-4">{{ news.subtitle }}</h2>
                    {% endif %}
                    {% if news.summary %}
                        <p class="mb-4">{{ news.summary }}</p>
                    {% endif %}
                </div>

                <div class="content pb-3">
                    {{ news.text|raw }}
                </div>

                {% if news.blocks|default([]) is not empty %}
                    <div class="content-blocks pb-3">
                        {% for block in news.blocks %}
                            {% include '@SuluNews/blocks/' ~ block.type ~ '.html.twig' with { 'content': block } only %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if news.footer %}
                <div class="col-12 py-3 bg-light text-dark">
                    <div class="footer mb-5">
                        {{ news.footer|raw }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}