{% extends "body.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row news-{{ news.type }}">
            <div class="col-12 pb-3">
                <div class="title">
                    <div class="overline mb-1">{{ news.publishedAt | format_datetime('full', 'none', locale=app.request.locale) }}</div>
                    <h1 class="mb-2">{{ news.title }}</h1>
                    {% if news.subtitle %}
                        <h2 class="h3 mb-4">{{ news.subtitle }}</h2>
                    {% endif %}
                    {% if news.summary %}
                        <p class="mb-4">{{ news.summary }}</p>
                    {% endif %}
                </div>

                <div class="content pb-3">
                    {{ news.text|raw }}
                </div>
            </div>
            {% if news.footer %}
                <div class="col-12 py-3 bg-light text-dark">
                    <div class="footer mb-5">
                        {{ news.footer|raw }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}